:root {
    font-family: 'Noto Sans KR';
    font-style: normal;
    /* font weight */
    --header-font-weight: 400;
    --column-title-font-weight: 700;
    --card-title-font-weight: 700;
​
    /* font size */
    --column-title-font-size: 18px;
    --card-title-font-size: 16px;
    --card-content-font-size: 14px;
    --card-author-font-size: 12px;
​
    /* line height */
    --header-line-height: 26px;
    --card-title-line-height: 23px;
    --card-content-line-height: 20px;
    --card-author-line-height: 17px;
​
    /* colors */
    --body-background-color: #F5F5F7;
    --column-count-color: #BDBDBD;
    --card-background-color: #FFFFFF;
    --card-text-color: #010101;
    --card-author-text-color: #BDBDBD;
    --card-blue-color: #0075DE;
​
    --card-buttons-cancel-background-color: #E0E0E0;
    --card-buttons-cancel-background-hover-color: #d9d9d9;
    --card-buttons-cancel-background-active-color: #c5c5c5;
    --card-buttons-cancel-text-color: #828282;
    --card-buttons-cancel-text-hover-color: #717171;
    --card-buttons-cancel-text-active-color: #000000;
​
    --card-buttons-register-background-color: #86C6FF;
    --card-buttons-register-background-ready-color: #0075DE;
    --card-buttons-register-background-active-color: #00529B;
    --card-buttons-register-text-color: #ffffff66;
    --card-buttons-register-text-ready-color: #ffffff;
    --card-buttons-register-text-active-color: #ffffffe4;
​
    --fab-color: #0075DE;
    --fab-color: #0075DE;
​
    --log-time-color: #828282
}
​
/* body */
body {
    background-color: var(--body-background-color);
    ;
}
​
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 80px;
}
​
.header h1 {
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
}
​
#menuicon {
    height: 11px;
    width: 17px;
    display: flex;
    margin: 4px;
    cursor: pointer;
}
​
​
/* column*/
ul {
    list-style: none;
    padding: 0;
}
​
.column-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 24px 80px;
}
​
.column {
    margin-right: 16px;
}
​
.column-header {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    padding: 0 8px;
    margin-right: 10px;
    font-size: var(--column-title-font-size);
    font-weight: var(--column-title-font-weight);
    line-height: var(--header-line-height);
}
​
.column-title {
    display: flex;
}
​
.column-title-input {
    display: none;
    outline: none;
    border: 0;
    font-size: var(--column-title-font-size);
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
    background-color: var(--body-background-color);
    width: 100%;
    padding: 0;
    margin: 0;
}
​
.column-card-count {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    background: var(--column-count-color);
    border-radius: 20px;
    margin-left: 8px;
}
​
.column-header-icons {
    display: flex;
    align-items: center;
}
​
.column-header-icons img {
    height: 14px;
    width: 14px;
    cursor: pointer;
    margin: 0 8px;
    padding: 3px;
}
​
.column-header-icons-add:hover {
    /* change into blue */
    filter: invert(30%) sepia(56%) saturate(2589%) hue-rotate(191deg) brightness(96%) contrast(104%);
}
​
.column-header-icons-close:hover {
    /* change into red */
    filter: invert(20%) sepia(68%) saturate(5955%) hue-rotate(354deg) brightness(104%) contrast(124%);
}
​
/* column editing */
.column-editing .column-title {
    display: none;
}
​
.column-editing .column-title-input {
    display: flex;
}
​
.column-editing .column-header-icons {
    display: none;
}
​
/* card */
.card-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;
    height: 100%;
}
​
.card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background: var(--card-background-color);
    box-shadow: 0px 1px 30px #e0e0e04d;
    border-radius: 6px;
    justify-content: center;
    margin: 8px 0;
    padding: 8px;
}
​
.card-top {
    display: flex;
}
​
.card-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px;
}
​
.card-icons {
    display: flex;
    flex-direction: column;
    height: 14px;
    width: 14px;
    cursor: pointer;
    margin: 8px 16px 0 0;
}
​
.card-icons>img {
    margin-bottom: 10px;
}
​
.card-icons-delete:hover {
    filter: invert(20%) sepia(68%) saturate(5955%) hue-rotate(354deg) brightness(104%) contrast(124%);
}
​
.card-icons-edit:hover {
    filter: invert(29%) sepia(95%) saturate(1488%) hue-rotate(190deg) brightness(96%) contrast(104%);
}
​
​
.card-title {
    line-height: var(--card-title-line-height);
    font-weight: var(--card-title-font-weight);
    font-size: var(--card-title-font-size);
}
​
.card-content {
    min-height: var(--card-content-line-height);
    line-height: var(--card-content-line-height);
    font-size: var(--card-content-font-size);
}
​
.card-author {
    color: var(--card-author-text-color);
    line-height: var(--card-author-line-height);
    font-size: var(--card-author-font-size);
}
​
/* card inputs */
.card-main>* {
    outline: none;
}
​
.card-title-input {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: var(--card-title-line-height);
    font-weight: var(--card-title-font-weight);
    font-size: var(--card-title-font-size);
}
​
.card-content-textarea {
    resize: none;
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: var(--card-content-line-height);
    font-size: var(--card-content-font-size);
    overflow: hidden;
}
​
​
​
​
/* card buttons */
.card-buttons {
    display: none;
    justify-content: space-between;
}
​
button {
    cursor: pointer;
    width: 100%;
    margin: 4px;
    padding: 10px;
    border: none;
    border-radius: 6px;
}
​
.card-buttons-cancel {
    background-color: var(--card-buttons-cancel-background-color);
    color: var(--card-buttons-cancel-text-color);
}
​
.card-buttons-cancel:hover {
    background-color: var(--card-buttons-cancel-background-hover-color);
    color: var(--card-buttons-cancel-text-hover-color);
}
​
.card-buttons-cancel:active {
    background-color: var(--card-buttons-cancel-background-active-color);
    color: var(--card-buttons-cancel-text-active-color);
    transition: 0.3s;
}
​
.card-buttons-register {
    background-color: var(--card-buttons-register-background-color);
    color: var(--card-buttons-register-text-color);
}
​
.ready .card-buttons-register {
    background-color: var(--card-buttons-register-background-ready-color);
    color: var(--card-buttons-register-text-ready-color);
}
​
.card-buttons-register:active {
    background-color: var(--card-buttons-register-background-active-color);
    color: var(--card-buttons-register-text-active-color);
    transition: 0.3s;
}
​
/* card editing */
.card-adding.card {
    border: 1px solid var(--card-blue-color)
}
​
.card-adding .card-title {
    display: none;
}
​
.card-adding .card-content {
    display: none;
}
​
.card-adding .card-author {
    display: none;
}
​
.card-adding .card-icons {
    display: none;
}
​
.card-adding .card-title-input {
    display: flex;
}
​
.card-adding .card-content-textarea {
    display: flex;
}
​
.card-adding>.card-buttons {
    display: flex;
}
​
/* floating button */
.floating-button {
    cursor: pointer;
    display: flex;
    margin: 50px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: var(--fab-color);
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 4px #cccccc80, 0px 2px 4px #00000040;
}
​
.floating-icon {
    width: 23px;
    height: 23px;
}
​
/* modal */
.modal {
    position: absolute;
    top: 0;
    left: 0;
​
    min-width: 100%;
    min-height: 100%;
​
    display: none;
    background-color: #00000066;
}
​
.modal.show {
    display: block;
}
​
.modal-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
​
    width: 400px;
    min-height: 90px;
    padding: 24px;
​
    background-color: var(--card-background-color);
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 #22242626;
​
    transform: translateX(-50%) translateY(-50%);
}
​
.modal-body>input {
    display: flex;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: var(--card-title-line-height);
    font-weight: var(--card-title-font-weight);
    font-size: var(--card-title-font-size);
}
​
.modal-body-text {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: var(--card-title-line-height);
    font-weight: var(--card-title-font-weight);
    font-size: var(--card-title-font-size);
}
​
.modal-buttons {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    min-height: 20px;
    min-width: 100px;
}
​
.modal-buttons>* {
    min-height: 20px;
    min-width: 100px;
}
​
.modal-buttons-cancel {
    background-color: var(--card-buttons-cancel-background-color);
    color: var(--card-buttons-cancel-text-color);
}
​
.modal-buttons-cancel:hover {
    background-color: var(--card-buttons-cancel-background-hover-color);
    color: var(--card-buttons-cancel-text-hover-color);
}
​
.modal-buttons-cancel:active {
    background-color: var(--card-buttons-cancel-background-active-color);
    color: var(--card-buttons-cancel-text-active-color);
    transition: 0.3s;
}
​
.modal-buttons-register {
    background-color: var(--card-buttons-register-background-color);
    color: var(--card-buttons-register-text-color);
}
​
.modal .card-buttons-register {
    background-color: var(--card-buttons-register-background-ready-color);
    color: var(--card-buttons-register-text-ready-color);
}
​
.modal-buttons-register:active {
    background-color: var(--card-buttons-register-background-active-color);
    color: var(--card-buttons-register-text-active-color);
    transition: 0.3s;
}
​
/* side bar */
#sidebar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    height: 100%;
    background: var(--card-background-color);
    transition: all 0.3s;
}
​
#sidebar.active {
    right: 0;
}
​
#sidebar_close {
    float: right;
    cursor: pointer;
    margin: 55px 90px 15px 0;
}
​
.log-list {
    clear: both;
    overflow-y: scroll;
}
.log {
    display: flex;
    margin: 0 80px 0 40px;
    line-height: var(--card-title-line-height);
}
.profile {
    float: left;
    width: 40px;
    height: 40px;
    margin: 16px;
}
.log-time{
    font-size: 14px;
    line-height: 20px;
    color:var(--log-time-color);
}