body {
    background-color: gray 6;
    /* background-color: #F5F5F7; */
}

.header {
    display: flex;
    background: red;
    justify-content: space-between;
    align-items: center;
    margin: 33px 80px;
}

.header h1 {

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
}

#menuicon {
    border: 1px solid grey;
    height: 11px;
    width: 17px;
    display: flex;
    margin: 4px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.body_main {
    flex-wrap: wrap;
    display: flex;
    /* justify-content: space-between; */
    align-items: stretch;
    background: orange;
    margin: 24px 80px;
    /* flex: none; */
}

.status {

    margin-right: 16px;
}

.status_title {
    display: flex;
    background: aqua;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 8px 0 16px; */
    /* margin-bottom: 118px; */
    width: 300px;
    padding: 0 8px;
    flex: none;
}

.status_name {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    /* margin-left: 8px; */
    flex: none;
}

.status_count {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    background: #BDBDBD;
    border-radius: 20px;
    margin-left: 8px;
}

.status_icons {

    border: 2px solid grey;
    display: flex;
    align-items: center;
    /* margin: 0 10px; */
}


/* .status_icons input {
    display: none;
}

.status_icons input+label {
    display: flex;
    height: 14px;
    width: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid red;
    text-align: center;
    margin: 0 8px;
    padding: 3px
} */


.status_icons  div {
    display: flex;
    height: 14px;
    width: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid red;
    text-align: center;
    margin: 0 8px;
    padding: 3px
}


.status_list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    max-width: 250px;
    width: 100%;
}

.work_box {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
    justify-content: center;
    margin: 8px 0;
    padding: 8px;
}

.work_box_row{
    border: 2px solid #0088ff;
    display: flex;
}
.work_box_contents {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 100%;
    margin: 8px;
    justify-content: space-between;
}

.work_box_title {
    display: flex;
    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 23px;
    font-weight: 700;
    font-size: 16px;
    color: #010101;
}
.work_box_title_input {
    display: none;
    border: 0;
    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 23px;
    font-weight: 700;
    font-size: 16px;
    color: #010101;
    padding: 0;
    margin: 0;
}

.work_box_main {
    display: flex;
    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #010101;
}
.work_box_main_input {
    display: none;
    border: 0;
    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #010101;
    padding: 0;
    margin: 0;
}

.work_box_author {
    display: flex;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    line-height: 17px;
    color: #BDBDBD;
}

.add_function_buttons {
    display: none;
    justify-content: space-between;
}
.add_function_buttons > button{
    /* margin: 10px; */
    width: 100%;
    margin: 4px;
    padding: 10px;
}
.add_cancle_button {
    position: relative;
    background-color:#E0E0E0;
    color: #828282;
    border:none; 
    border-radius:6px; 
    /* padding:15px; */
    min-height:20px; 
    min-width: 100px;   
}
.add_cancle_button:hover {
    background-color:rgb(217, 217, 217);
    color: #717171;
    transition: 0.7s;
}
.add_cancle_button:active {
    color: black;
    background-color: rgb(197, 197, 197);
}


.add_register_button {
    position: relative;
    background-color:#86C6FF;
    color: rgba(255, 255, 255, 0.4);
    border:none; 
    border-radius:6px; 
    /* padding:15px; */
    min-height:20px; 
    min-width: 100px;     
}
.add_register_button:hover {
    background-color:#56b0ff;
    color: rgba(255, 255, 255, 0.628);
    transition: 0.7s;
}
.add_register_button:active {
    color: white;
    background-color:#0088ff;
}
.work_box_icon{

    display: flex;
    height: 14px;
    width: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid grey;
    margin: 8px 8px 0 0;
}
.work_box.adding{
    border: 1px solid blue;
}
.work_box_title.adding{
    display: none;
}

.work_box_title_input.adding{
    display: flex;
}.work_box_main.adding{
    display: none;
}.work_box_main_input.adding{
    display: flex;
}
.work_box_author.adding{
    display: none;
}
.work_box_icon.adding{
    display: none;
}
.add_function_buttons.adding{
    display: flex;
}




input[id="todo_box_closeicon"] {
    display: none;
}

input[id="todo_box_closeicon"]+label {
    display: flex;
    height: 14px;
    width: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid grey;
    margin: 8px 8px 0 0;
}

/* .work_box_icon input {
    display: none;
}

.work_box_icon input+label {
    display: flex;
    height: 14px;
    width: 14px;
    position: relative;
    cursor: pointer;
    border: 1px solid grey;
    margin: 8px 8px 0 0;
} */



#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    background: pink;
    transition: all 0.3s;
}

#sidebar.active {
    right: 0;
}